.hero_img-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  width: calc(200px / $vw-mobile-coef);
  height: calc(200px / $vw-mobile-coef);

  border-radius: calc(200px / $vw-mobile-coef);
  overflow: hidden;

  @media screen and (min-width: $big-mobile-widdth) {
    margin-left: 0;

    width: calc(170px / $vw-big-mobile-coef);
    height: calc(170px / $vw-big-mobile-coef);
  }
}
