.project-list {
  display: flex;
  flex-direction: column;
  row-gap: calc(8px / $vw-mobile-coef);

  @media screen and (min-width: $tablet-width) {
    row-gap: calc(8px / $vw-tablet-coef);
  }
}

.project-article {
  & .emphasis {
    color: $main-title-color;
  }
}

.project-name {
  font-size: calc(16px / $vw-mobile-coef);

  color: $main-title-color;

  @media screen and (min-width: $big-mobile-width) {
    font-size: calc(16px / $vw-big-mobile-coef);
  }

  @media screen and (min-width: $tablet-width) {
    font-size: calc(12px / $vw-tablet-coef);
  }
}

.project-stack {
  color: $main-text-color;
}

.project-link {
  color: rgba($color: $accent-color, $alpha: 0.7);

  @media (hover: hover) {
    &:hover {
      color: rgba($color: $accent-color, $alpha: 1);
    }
  }

  &:focus {
    color: rgba($color: $accent-color, $alpha: 1);
    outline-color: $accent-color;
  }

  &.is-touched {
    color: rgba($color: $accent-color, $alpha: 1);
  }
}
