<div class="mobile-menu">
  <button class="mobile-menu_button" type="button" title="open menu">
    Menu
  </button>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a href="#hero">Home</a></li>
      <li class="nav-item"><a href="#projects">Projects</a></li>
      <li class="nav-item"><a href="#work">Work</a></li>
      <li class="nav-item"><a href="#education">Education</a></li>
      <li class="nav-item"><a href="#contacts">Contacts</a></li>
      <li class="nav-item"><a href="#tech-skills">Tech-skills</a></li>
      <li class="nav-item"><a href="#soft-skills">Soft-skills</a></li>
      <li class="nav-item"><a href="#languages">Languages</a></li>
    </ul>
  </nav>
</div>
